# Tell Mutter/GNOME to ignore Sunshine virtual input devices.
# Devices stay on seat0 so headless Sway's libinput can enumerate them.
ACTION=="add|change", SUBSYSTEM=="input", ATTRS{id/vendor}=="beef", ATTRS{id/product}=="dead", ENV{mutter-device-ignore}="1"
